.dobozkeret {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
body{
    background-image: url(./Gemini_Generated_Image_1biw831biw831biw.jpg);
}

.card:hover {
    transform: rotate(3deg) scale(1.05); 
    transition: 2s;
}


.card-1 {

    grid-column: auto; 
        max-width: 600px;
    margin: 50px auto;
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}

.card-2 {

    grid-row: auto;

    grid-column: auto;
}
.container {
    display: grid;  
    padding: 20px;

    
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto auto;
    
    gap: 25px; 
}
.container-1{
    display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: ;
}
.nagy-kép{
        grid-column: auto; 
        max-width: 6000px;
    margin: 50px auto;
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}