body{
    background-image: url(./hatter.jpg);
}

.card:hover {
    transform: rotate(3deg) scale(1.05); 
    transition: 2s;
}


.fotarolo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}

.fotarolo img{
    border-radius: 20px;
    width: 90%;
    height: 350px;
    object-fit: cover;
}
.fotarolo img:hover{
    transform: rotate(3deg) scale(1.05); 
    transition: 2s;

}

footer{
    margin-top: 10px;
}

.szovegdoboz{
    width: 100%;
    min-height: 300px;
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    border-radius: 20px;
}
.hat{
    align-content: right;
    justify-self: end;
}

.card{
    background-color: rgba(202, 149, 149, 0.3);
}

#tanacscim{
    text-align: center;
    color: white;
}

.slideok{
    margin: auto;
    width: 800px;
    height: 600px;
}

.carousel-caption{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    color: black;
}

.velemeny-kartya {
    width: 60%;
    min-height: 160px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.85);
}

#velemenyCarousel {
    padding-bottom: 45px;
}

#velemenygomb{
 margin-bottom: 20px;
}


@media only screen and (max-width:600px) {
   .fotarolo {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 15px;
        gap: 20px;
    }

    .fotarolo img {
        width: 100%;
        height: auto;
    }

    .szovegdoboz {
        width: 100%;
        min-height: auto;
        padding: 20px;
    }

    .card{
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

    .slideok {
        width: 100%;
        max-width: 100%;
    }

    .velemeny-kartya {
        width: 85%;
        min-height: 280px;
}
}